@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

:root {
    --cyan: rgb(42, 178, 175);
    --bright-yellow: rgb(192, 223, 52);
    --light-gray: rgb(229, 239, 245);
    --grayish-blue: rgb(152, 166, 189);
}

#container {
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: grid;
    grid-template-areas:
        "first"
        "second"
        "third";
}

#first h1 {
    color: var(--cyan);
    font-size: 20px;
    margin-bottom: 20px;
}

#first p {
    margin-bottom: 20px;
}

main {
    padding: 10px 25px;
    background-color: var(--light-gray);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--bright-yellow);
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 700;
    color: var(--light-gray);
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 25px;
}

section {
    padding: 25px;
}

h3 {
    margin-bottom: 20px;
}

span {
    font-size: 30px;
    font-weight: 700;
    color: white !important;
    opacity: 1 !important;
}

#first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-area: first;
}

#second {
    grid-area: second;
}

#third {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    grid-area: third;
}

#second,
#third {
    background-color: var(--cyan);
    color: var(--light-gray);
}

#text-yellow {
    color: var(--bright-yellow);
    font-weight: 700;
}

#text-gray {
    color: var(--grayish-blue);
    line-height: 25px;
}

#text-light {
    opacity: 0.7;
}

@media only screen and (min-width: 600px) {
    main{
        display: flex;
        justify-content: center;
        height: 96vh;
        background-color: transparent;
    }

    #container {
        grid-template-areas:
            "first first"
            "second third";
        
        width: 70vw;
    }

    #first{
        width: 70%;
    }
}